@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-primary: #03fbad;
  --color-dark: #0e0e0d;
  --color-light: #fefefe;
}

:root {
  --foreground-rgb: 254, 254, 254;
  --background-start-rgb: 14, 14, 13;
  --background-end-rgb: 14, 14, 13;
}

body {
  color: #fefefe;
  background-color: #0e0e0d;
}

@utility bg-grid-pattern {
  background-image: radial-gradient(circle, #222 1px, transparent 1px);
  background-size: 30px 30px;
}

@utility primary-glow {
  box-shadow: 0 0 20px rgba(3, 251, 173, 0.2);
}

@utility text-gradient {
  background: linear-gradient(to right, #fefefe, #03fbad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
